h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#282629; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#heading_552d7807 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:54pt; font-family:Baskerville, 'Baskerville Old Face', Garamond, 'Times New Roman', serif; color:#CFCDCF; text-align:center; font-weight:bold;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6f123cbb { vertical-align: top; position:relative; display: inline-block; width:98%; min-height:42px; background:none;  }
#container_6f123cbb_padding { margin: 10px; display: block;  }
#heading_1f6374ba { vertical-align: bottom; position:relative; display: inline-block; width:461px; height:59px; background:none; font-size:18pt; font-family:Baskerville, 'Baskerville Old Face', Garamond, 'Times New Roman', serif; color:#C0C0C0; text-align:center; font-weight:bold;  }
#container_289b6f13 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:57px; background:none;  }
#container_289b6f13_padding { margin: 10px; display: block;  }
#combo_385cb94e { box-sizing: border-box; vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:310px; height:25px; background-color:#E9E7EA; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
